<div class="container">
  <div class="row portfolio-detail">
    <div class="col-sm-8">
      <div class="browser">
        <div class="browser-top"></div>
        <div class="browser-window" ng-scroll>
          <img ng-src="images/portfolio/{{project.image.filename}}.{{project.image.ext}}" err-src="images/portfolio/default.png" alt="{{project.slug}}" class="screenshot">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    <header>
      <h3>{{ project.name }}</h3>
      <span class="title-border"></span>
    </header>
    <p>{{project.detail}}</p>
    <footer>
      <div ng-show="project.url">
        <i class="fa fa-globe fa-fw"></i> <a href="{{project.url}}" class="project-url">{{project.url}}</a>
      </div>
      <div class="categories">
        <i class="fa fa-tags fa-fw"></i> <span ng-repeat-start="category in project.categories">{{category}}</span><i class="category-separator" ng-repeat-end>, </i>
      </div>
      <div ng-show="project.date">
        <i class="fa fa-clock-o fa-fw"></i> {{project.date | date: 'MMMM yyyy'}}
      </div>
      <nav class="project-nav">
        <div class="btn-group">
            <a href="#!/portfolio/{{project.prev}}" ng-click="animate('rotate-right')" class="btn btn-gray"><i class="fa fa-arrow-left"></i></a>
            <a href="#!/" ng-click="animate('rotate-right')" class="btn btn-gray"><i class="fa fa-th"></i></a>
            <a href="#!/portfolio/{{project.next}}" ng-click="animate('rotate-left')" class="btn btn-gray"><i class="fa fa-arrow-right"></i></a>
        </div>
      </nav>
    </footer>
    </div>
  </div>
</div>